@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* .outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

@font-face {
    font-family: 'Heavitas';
    src: url('./font/Heavitas.ttf') format('truetype');
    font-size: normal;
    font-weight: normal;
}

html,
body {
    font-size: 62.5%;
    font-family: "Outfit", sans-serif;
}

body {
    .inner {
        max-width: 160rem;
        width: calc(100% - 60px);
        margin: 0 auto;
    }
}



.spaceship {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    transition: transform 4s ease-out;
    width: 10rem;


    img {
        width: 100%;
        object-fit: cover;
        /* filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4)); */
        animation: rotateship 3s linear infinite;
    }
}

@keyframes rotateship {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-16deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.video_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    pointer-events: none;
    overflow: hidden;
    transform: scale(1);

    video {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }


}

/* video_background end */



.header {
    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: transparent;

    &.acitve {
        position: fixed;
        top: 0;
        left: 0;

    }

    .inner {

        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;

        .logo {
            font-size: clamp(2.4rem, 1vw + 1.8rem, 3.2rem);

            a {
                display: block;
            }

            span {
                color: #C1FCF5;
            }
        }

        /* logo end */

        .portfolio_text {
            font-size: clamp(1.2rem, 1vw + 0.8rem, 2rem);
            color: rgb(255, 255, 255, 0.6);
        }
    }

    /* inner end */


}

/* header end */

.main {

    .main_visual {
        width: 100%;
        height: 100vh;
        position: relative;

        .nav {
            position: absolute;
            left: 50%;
            bottom: 4rem;
            height: 4rem;
            transform: translateX(-50%);
            color: #fff;

            &.active {
                position: fixed;
                top: 3rem;
                z-index: 100;
            }


            .gnb {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15rem;


                li {
                    font-size: 2.4rem;
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.1);
                        color: #00E0FF;
                    }
                }
            }
        }

        .title_box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            /* width: 100%; */
            perspective: 300px;

            .title {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                /* width: 100%; */
                font-family: 'Heavitas';
                font-size: clamp(3.2rem, 6vw + 0.5rem, 9.6rem);
                color: #fff;
                transform-style: preserve-3d;
                transform: translateZ(-1100px);
                transition: 1.5s;
                opacity: 0;



                span {
                    white-space: nowrap;
                    font-size: clamp(6rem, 7vw + 1rem, 16rem);
                    color: #00E0FF;
                    mix-blend-mode: difference;
                    -webkit-text-fill-color: rgb(193, 252, 245, 0.5);
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-repeat: no-repeat;
                    background-image: linear-gradient(#C1FCF5, #C1FCF5);
                    background-size: 0% 100%;

                }
            }

        }
    }

    .mind_section {
        width: 100%;
        height: 300rem;
        position: relative;

        .sticky_box {
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            perspective: 800px;
        }

        .text_mind {
            font-size: 11rem;
            font-weight: 700;
            color: #fff;
            transform-style: preserve-3d;
            transform: translateZ(-800px);
            transition: 1s;
            opacity: 0;
            position: sticky;
            top: 20rem;
            margin-top: 40rem;
            line-height: 1.3;

            p {
                display: block;
                position: relative;
                height: 11rem;
                line-height: 1;
                overflow: hidden;
                margin-bottom: 2rem;

                &:hover {
                    .text_en {
                        opacity: 0;
                        transform: translateY(-100%);
                    }

                    .text_ko {
                        transform: translateY(-100%);
                        opacity: 1;
                        color: #fff;
                    }
                }

                span {
                    display: block;
                    transition: 0.3s;
                    color: #ddd;
                }

                .text_en {
                    transform: translateY(0);
                    opacity: 1;
                }

                .text_ko {
                    transform: translateY(0);
                    opacity: 0;


                    b {
                        color: #00E0FF;
                    }
                }
            }
        }

        .image_mind {
            position: sticky;
            top: 20rem;
            margin-top: 40rem;
            width: 25%;
            transition: 1s;
            transform-style: preserve-3d;
            transform: translateZ(-800px);
            opacity: 0;

            .image_wrap {
                position: relative;


                .image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 52rem;
                    opacity: 0;
                    transition: 0.3s;

                    &.active {
                        opacity: 1;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }
                }
            }
        }
    }

    .skills {

        margin: 15rem 0;

        .inner {
            position: relative;
            height: 150rem;
            perspective: 800px;



            .title_skills {
                font-family: 'Heavitas';
                font-size: clamp(6rem, 7vw + 1rem, 16rem);
                color: #C1FCF540;
                position: sticky;
                display: flex;
                justify-content: center;
                top: 40%;
                /* transform: translate(-50%, -50%); */
                z-index: -1;
                opacity: 0;

            }

            .skills_wrap {
                position: sticky;
                width: 100%;
                height: 100vh;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;



                .skills_image {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .image_wrap {
                        position: relative;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 15rem;
                            position: absolute;
                            transition: 0.3s;
                            opacity: 0.7;

                            &.active {
                                transform: rotate(20deg);
                                opacity: 1;
                            }

                            &:nth-child(1) {
                                top: 25%;
                                left: 20%;

                            }

                            &:nth-child(2) {
                                top: 15%;
                                left: 45%;
                            }

                            &:nth-child(3) {
                                top: 25%;
                                right: 20%;
                            }

                            &:nth-child(4) {
                                top: 65%;
                                left: 20%;
                            }

                            &:nth-child(5) {
                                top: 70%;
                                left: 45%;
                            }

                            &:nth-child(6) {
                                top: 65%;
                                right: 20%;
                            }


                        }
                    }
                }

                .skills_text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;

                    .text_wrap {
                        position: relative;
                        width: 100%;

                        .text {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 2.4rem;
                            font-weight: 500;
                            color: #fff;
                            position: absolute;
                            opacity: 0;
                            transition: 0.3s;

                            &.active {
                                opacity: 1;
                            }
                        }

                    }
                }
            }
        }
    }

    .project {
        height: 300rem;
        padding: 15rem 0;

        .inner {
            max-width: 160rem;
            width: calc((100% - 60px));
            margin: 0 auto;

            .title_project {
                font-family: 'Heavitas';
                font-size: clamp(6rem, 7vw + 1rem, 16rem);
                color: #C1FCF540;
                position: sticky;
                display: flex;
                justify-content: center;
                top: 40%;
                /* transform: translate(-50%, -50%); */
                z-index: -1;
                /*                 opacity: 0; */

            }

            .project_wrap {
                width: 100%;
                margin-top: 30rem;
                position: sticky;



                .project_box {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    border: 3px solid rgba(0, 224, 255, 0.6);
                    margin-bottom: 10rem;
                    padding:  5rem ;
                    border-radius: 2rem;
                    box-shadow: inset 0 0 50px 5px #00e1ffe1;
                    backdrop-filter: blur(6px);
                    transform: rotateZ(20deg);

                    &:nth-child(3) {
                        &::after {
                            content: '';
                            width: 30rem;
                            background: url('../img/Group 201.png') center center / cover no-repeat;
                        }
                    }

                    .image {
                        width: 46%;
                        border-radius: 2rem;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .text_box {
                        color: #fff;
                        display: flex;
                        flex-direction: column;
                        width: 46%;

                        .title {
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            gap: 2rem;


                            h3 {
                                color: #f1f1f1;
                                font-size: 5.6rem;
                                font-weight: 700;
                            }

                            p {
                                font-size: 2.4rem;
                                color: #ccc;
                            }
                        }

                        .cont {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 5rem;
                            margin-top: 2rem;


                            .use_tool {
                                font-size: 2rem;
                                color: #999;

                                span {
                                    margin-right: 2rem;
                                }
                            }


                            div {
                                font-size: 1.8rem;
                                color: #999;
                            }

                            .text {
                                font-size: 2rem;
                                line-height: 1.5;
                                letter-spacing: 0.5px;
                                color: #f1f1f1;
                                word-break: keep-all;

                                p {
                                    margin-top: 2rem;
                                    color: #999;
                                } 
                            }


                        }

                        .button {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 7rem;
                            margin-top: 15rem;

                            a {
                                font-weight: 300;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 2.8rem;
                                gap: 1rem;
                                transition: 0.5s;

                                &:hover {
                                    color: #00E0FF;
                                    transform: scale(1.1);
                                }

                                &:nth-child(1) {
                                    border: 2px solid #ffffffa9;
                                    padding: 1.5rem 2rem;
                                    border-radius: 2rem;
                                    border-bottom: 1px solid transparent;
                                    font-size: 3.6rem;

                                    &:hover {
                                        color: #fff;
                                        border: 2px solid #00E0FF;
                                        box-shadow: inset 0 0 20px 10px #00e1ff67;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .clone {
        height: 2000px;
    }

}


/* main end */