@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* .outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

@font-face {
    font-family: 'Heavitas';
    src: url('./font/Heavitas.ttf') format('truetype');
    font-size: normal;
    font-weight: normal;
}

html,
body {
    font-size: 62.5%;
    font-family: "Outfit", sans-serif;
}

body {
    
}



.spaceship {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    transition: transform 4s ease-out;
    width: 10rem;

    &.active {}

    img {
        width: 100%;
        object-fit: cover;
        /* filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4)); */
        animation: rotateship 3s linear infinite;
    }
}

@keyframes rotateship {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-16deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.video_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    pointer-events: none;
    overflow: hidden;

    video {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

/* video_background end */



.header {
    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: transparent;

    &.acitve {
        position: fixed;
        top: 0;
        left: 0;

    }

    .inner {
        max-width: 160rem;
        width: calc(100% - 60px);
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;

        .logo {
            font-size: clamp(2.4rem, 1vw + 1.8rem, 3.2rem);

            a {
                display: block;
            }

            span {
                color: #C1FCF5;
            }
        }

        /* logo end */

        .portfolio_text {
            font-size: clamp(1.2rem, 1vw + 0.8rem, 2rem);
            color: rgb(255, 255, 255, 0.6);
        }
    }

    /* inner end */


}

/* header end */

.main {
    section {}

    .main_visual {
        width: 100%;
        height: 100vh;
        position: relative;

        .nav {
            position: absolute;
            left: 50%;
            bottom: 4rem;
            transform: translateX(-50%);
            color: #fff;

            &.active {
                position: fixed;
                top: 3rem;
                z-index: 100;
            }


            .gnb {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15rem;


                li {
                    font-size: 2.4rem;
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.1);
                        color: #00E0FF;
                    }
                }
            }
        }

        .title_box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            /* width: 100%; */
            perspective: 300px;

            .title {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                /* width: 100%; */
                font-family: 'Heavitas';
                font-size: clamp(3.2rem, 6vw + 0.5rem, 9.6rem);
                color: #fff;
                transform-style: preserve-3d;
                transform: translateZ(-1100px);
                transition: 1.5s;
                opacity: 0;



                span {
                    white-space: nowrap;
                    font-size: clamp(6rem, 7vw + 1rem, 16rem);
                    color: #00E0FF;
                    mix-blend-mode: difference;
                    -webkit-text-fill-color: rgb(193, 252, 245, 0.5);
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-repeat: no-repeat;
                    background-image: linear-gradient(#C1FCF5, #C1FCF5);
                    background-size: 0% 100%;

                }
            }

        }
    }

    .mind_section {
        width: 100%;
        height: 3000px;
        position: relative;
        
        .sticky_box {
            position: absolute;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            align-items: flex-start;
            perspective: 100px;
        }

        .text_mind {
            font-size: 6.4rem;
            font-weight: 700;
            color: #fff;
            transform-style: preserve-3d;
            transform: translateZ(-1100px);
            transition: 1.5s;
            opacity: 0;
            position: sticky;
            top: 10rem;



        }
    }


}

/* main end */